<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jrodriguezva.mimorutas.androidApp">

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:label="Mimo Rutas"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.MimoRutas.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>
</manifest>